  <footer id="site-footer">
    <div class="links">
      <a class="internal-link footer-link" href="#">go to top</a> | 
      <a class="internal-link footer-link" href="<%= root_url %>">home</a> | 
      <a class="internal-link footer-link"
      href="<%= "/legal/index.html" %>">legal</a>
    </div>
    <div class="copyright">
      Copyright © <%= "2015-#{Time.now.year}"+
        " #{site_name}[#{admin}]" %>
    </div>
  </footer>
  <!--
  <div id="visit-counter"><%#= "#{@data[:requests_c]}:#{@data[:visits_c]}" %>
  -->
  </div>
