/* mixins, variables, etc. */

$btn-color: black;
$btn-txt-color: white;

$state-danger-text:   red;
$state-danger-border: red;

$state-notice-text:   green;

$vertical-rythm: 12px;

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* misc */

ul {
    padding-bottom: $vertical-rythm;
}

.form-control {
    display: block;
    margin-bottom: 4px;
    border: 1px solid black;
    padding: 4px;
}

.alert {
}

.alert-notice {
    color: $state-notice-text;
}

.alert-danger {
    color: $state-danger-text;
}

#error_explanation {
    border: 1px solid $state-danger-border;
    color: red;
    ul {
        color: red;
        margin-left: 30px;
    }
}

.field_with_errors {
    .form-control {
        //color: $state-danger-text;
        border: 1px solid $state-danger-border;
    }
}

.checkbox {
    
}

#session_remember_me {

}

.form-btn {
    display: block;
    background: $btn-color;
    color: $btn-txt-color;
}

.debug_dump {
    border-top: 1px solid black;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
