/* Colors */
/* Misc */
/* Typesetting */
/* Dimensions */
/* Reset */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* Mixins */
body {
  font-size: 0.95em;
  font-family: Verdana, sans-serif;
  background: #073562;
  overflow-y: scroll; }

svg {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.05em; }

blockquote {
  color: #c48001; }

li {
  margin-left: 15px; }

a {
  color: #073562;
  text-decoration: none; }
  a:visited {
    color: #424242; }
  a:hover {
    color: #c48001;
    text-decoration: underline; }

.profile-links {
  list-style-type: circle; }

.spoiler-container {
  display: none; }

.small-text {
  font-size: 0.85em; }

.large-text {
  font-size: 1.05em; }

.current-item {
  font-weight: bold; }

.internal-link {
  text-decoration: none;
  color: #073562; }
  .internal-link:visited {
    color: #073562;
    text-decoration: none; }
  .internal-link:hover {
    color: #c48001;
    text-decoration: none;
    cursor: pointer; }

.disabled-link {
  color: #828282; }

.spoiler-hide {
  display: none; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.floated {
  float: left; }

.js-only {
  display: none; }

.js-opener {
  cursor: pointer; }

.list-item-project {
  margin-left: 15px; }

.comment-form {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-bottom: 2.5px;
  margin-top: 2.5px; }

.comment-container {
  padding-left: 15px; }

.comments-menu {
  display: inline-block;
  background: #D6E7FF;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box; }

.comment {
  display: inline-block;
  background: #D6E7FF;
  word-wrap: break-word;
  max-width: 100%;
  margin-top: 3px;
  margin-top: 3.75px;
  padding: 5px;
  box-sizing: border-box; }
  .comment .comment-content {
    margin-bottom: 3.75px;
    line-height: 1.14em; }

.comment-icon {
  max-width: 0.95em; }

.comment-name {
  font-weight: bold; }

.comment-trip {
  color: #27914e; }

.comment-date {
  font-size: 0.85em; }

.comment-id {
  font-size: 0.85em; }

.comment-quote {
  color: #656100; }

.comment-mod-options {
  border-top: 1px dashed #073562; }

.ip-ban-form {
  display: none; }

#modal-bg {
  display: none;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: pointer; }

#modal-header {
  color: white;
  text-align: right;
  padding: 3.75px;
  box-sizing: border-box; }

#modal-footer {
  color: white;
  text-align: right;
  padding: 3.75px;
  box-sizing: border-box; }
  @media screen and (min-width: 920px) {
    #modal-footer {
      display: none; } }

#modal-content {
  text-align: left; }
  @media screen and (min-width: 920px) {
    #modal-content {
      text-align: center; } }

.in-modal {
  max-width: 100%;
  cursor: default; }
  @media screen and (min-width: 920px) {
    .in-modal {
      max-width: 96%; } }

.modal-text-content {
  width: 100%;
  display: inline-block;
  background: white;
  color: black;
  cursor: default;
  padding: 3.75px;
  text-align: left; }
  @media screen and (min-width: 920px) {
    .modal-text-content {
      width: auto; } }

.site-header {
  background: black;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.1%;
  padding-right: 0.1%; }
  .site-header #title-grid {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: left;
    align-self: center;
    grid-template-columns: auto auto;
    grid-template-rows: 100%; }
  .site-header #title-text {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: left;
    align-self: center; }
  .site-header #title-rss {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: right;
    align-self: center; }
  .site-header a.site-title {
    font-size: 1.5em; }
    .site-header a.site-title:link, .site-header a.site-title:visited, .site-header a.site-title:hover {
      color: #5887cf;
      text-decoration: none; }
  .site-header span.site-slogan {
    font-size: 1.25em;
    color: white; }
  .site-header svg.rss {
    max-width: 1.25em; }
  @media screen and (min-width: 920px) {
    .site-header {
      max-width: 920px;
      margin-left: auto;
      margin-right: auto; } }

#site-icon {
  max-height: 1.25em;
  vertical-align: bottom; }

#banner-container {
  width: 100%;
  background: black; }
  @media screen and (min-width: 920px) {
    #banner-container {
      max-width: 920px;
      margin-left: auto;
      margin-right: auto; } }

#banner {
  max-width: 100%; }

#top-menu {
  max-width: 100%;
  background: black;
  box-sizing: border-box;
  border-bottom: 2px solid #073562;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto; }
  @media screen and (min-width: 920px) {
    #top-menu {
      max-width: 920px;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 120px 120px 120px minmax(0, 120px) minmax(0, 120px) minmax(0, 120px); } }
  #top-menu .top-menu-button {
    width: 100%;
    background: black;
    display: block;
    box-sizing: border-box;
    border-right: 1px solid black;
    border-top: 2px solid black;
    position: relative;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    justify-self: left;
    align-self: center; }
    #top-menu .top-menu-button:hover {
      border-top: 2px solid #073562; }
    #top-menu .top-menu-button:hover > div {
      display: block; }
  #top-menu .top-menu-textlink {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none; }
  #top-menu .top-menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background: #073562;
    min-width: 100%;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    color: white; }
  #top-menu .dropdown-title {
    color: #cfcfcf;
    font-size: 0.85em; }
  #top-menu .dropdown-links {
    list-style: none;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
    #top-menu .dropdown-links li {
      border-bottom: 1px solid black;
      padding-left: 15px;
      margin-left: 0px;
      padding-bottom: 3.75px;
      padding-top: 3.75px; }
      #top-menu .dropdown-links li:last-child {
        border-bottom: none; }
  #top-menu .dropdown-link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: white; }
    #top-menu .dropdown-link:hover {
      font-weight: bold; }
    #top-menu .dropdown-link:visited {
      color: white; }

#minimal-content-container {
  box-sizing: border-box;
  max-width: 100%;
  background: #eff3f9;
  padding-bottom: 7.5px; }
  @media screen and (min-width: 920px) {
    #minimal-content-container {
      max-width: 920px;
      text-align: center;
      margin-left: auto;
      margin-right: auto; } }

.center-content {
  width: 100%;
  display: inline-block;
  text-align: center; }

#grid-container-middle {
  box-sizing: border-box;
  max-width: 100%;
  display: grid;
  background: #073562;
  grid-template-columns: 100%;
  grid-template-rows: 100%; }
  @media screen and (min-width: 920px) {
    #grid-container-middle {
      max-width: 920px;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 20% 80%;
      grid-template-rows: 100%; } }

.classic-menu {
  display: none; }
  @media screen and (min-width: 920px) {
    .classic-menu {
      display: block;
      width: 100%;
      background: #ACCBF9;
      grid-column-start: 1;
      grid-column-end: 1;
      justify-self: left;
      align-self: top;
      word-wrap: break-word;
      box-sizing: border-box;
      border-right: 30px solid #eff3f9; } }
  .classic-menu .menu-container {
    box-sizing: border-box;
    padding-top: 7.5px; }
  .classic-menu .avatar {
    display: block;
    box-sizing: border-box;
    border: 1px solid #073562;
    margin-left: 4px;
    margin-bottom: 7.5px; }
  .classic-menu .about {
    box-sizing: border-box;
    font-size: 0.85em;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1.2;
    margin-bottom: 7.5px; }
  .classic-menu .mail-link {
    display: block;
    box-sizing: border-box;
    font-size: 0.85em;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1.2;
    margin-bottom: 7.5px;
    color: black;
    text-decoration: none; }
    .classic-menu .mail-link:visited {
      color: black;
      text-decoration: none; }
    .classic-menu .mail-link:hover {
      color: black;
      background: #eff3f9;
      text-decoration: none; }
  .classic-menu .menu-links {
    list-style: none;
    margin-left: 0px;
    margin-bottom: 7.5px;
    text-indent: 4px; }
  .classic-menu .menu-list-item {
    margin-left: 0px; }
  .classic-menu .menu-link {
    font-size: 0.85em;
    display: block;
    line-height: 1.2;
    color: black;
    text-decoration: none; }
    .classic-menu .menu-link:visited {
      color: black;
      text-decoration: none; }
    .classic-menu .menu-link:hover {
      color: black;
      background: #eff3f9;
      text-decoration: none; }

#content-area {
  background: #eff3f9;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: left;
  align-self: top;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 7.5px; }
  @media screen and (min-width: 920px) {
    #content-area {
      grid-column-start: 2;
      grid-column-end: 2; } }

.content-element {
  box-sizing: border-box;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  overflow-wrap: break-word;
  text-align: left; }

.content-menu {
  display: inline-block;
  background: white;
  word-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 3.75px;
  padding: 5px; }
  @media screen and (min-width: 920px) {
    .content-menu {
      max-width: 60%; } }

.post {
  background: white;
  display: inline-block;
  text-align: left;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.75px;
  padding: 5px; }
  .post p, .post pre {
    margin-bottom: 15px; }
  .post p {
    line-height: 1.71em; }
  .post h1, .post h2, .post h3 {
    margin-bottom: 3.75px; }
  @media screen and (min-width: 920px) {
    .post {
      width: 80%; } }

.post-title {
  font-size: 0.95em;
  font-weight: bold; }

.post-category {
  font-size: 0.85em;
  font-style: italic;
  font-weight: normal; }

.post-date {
  font-size: 0.85em; }

.mark-unpublished {
  color: red; }

.mark-pending-update {
  color: blue; }

.profile-link {
  font-weight: bold;
  text-decoration: none;
  color: #073562; }
  .profile-link:visited {
    color: #073562;
    text-decoration: none; }
  .profile-link:hover {
    color: #073562;
    text-decoration: none; }

.post-content {
  padding-top: 3.75px; }

.large-post-content {
  padding-top: 3.75px; }

.post-icon {
  max-width: 0.95em; }

.blog-preview-body {
  padding-top: 3.75px;
  display: flex; }

.blog-icon {
  box-sizing: border-box;
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 3.75px; }

.blog-preview {
  flex: 1; }

.post-text {
  vertical-align: top; }

.post-text-span {
  vertical-align: top; }

.post-image-figure {
  margin-bottom: 15px; }

.media {
  margin-bottom: 15px; }

.internal-video {
  max-width: 96%; }
  @media screen and (min-width: 920px) {
    .internal-video {
      max-width: 60%; } }

.youtube {
  max-width: 96%; }
  @media screen and (min-width: 920px) {
    .youtube {
      max-width: 60%; } }

.post-image {
  border-top: 1px dashed #073562;
  padding-top: 3.75px;
  margin-top: 3.75px; }

.img_full {
  max-width: 100%; }

.img-no-border {
  border-top: none; }

.post-image-hint {
  font-size: 0.85em; }

.micropost {
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
  background: white;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid white;
  border-left: 1px solid white;
  word-wrap: break-word;
  margin-top: 3.75px;
  padding: 5px; }
  @media screen and (min-width: 920px) {
    .micropost {
      max-width: 80%; } }

.sticky {
  background: #FFE5BA; }

#mobile-sub-menu {
  box-sizing: border-box;
  max-width: 100%;
  background: #eff3f9;
  padding-bottom: 7.5px; }
  @media screen and (min-width: 920px) {
    #mobile-sub-menu {
      display: none; } }

#site-footer {
  max-width: 920px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4px;
  padding-left: 4px;
  color: white; }

.links {
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: left;
  align-self: center;
  font-size: 0.85em;
  color: white; }

.footer-link {
  color: white;
  text-decoration: underline; }
  .footer-link:visited {
    color: white;
    text-decoration: underline; }

.copyright {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: right;
  align-self: center;
  font-size: 0.85em; }

#visit-counter {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4px;
  padding-left: 4px;
  color: white;
  font-size: 0.85em;
  text-align: right; }

/* mixins, variables, etc. */
/* misc */
ul {
  padding-bottom: 15px; }

.form-control {
  display: block;
  margin-bottom: 4px;
  border: 1px solid black;
  padding: 4px; }

.alert-notice {
  color: green; }

.alert-danger {
  color: red; }

#error_explanation {
  border: 1px solid red;
  color: red;
  padding: 7.5px;
  box-sizing: border-box; }
  #error_explanation ul {
    color: red;
    margin-left: 30px; }

.field_with_errors .form-control {
  border: 1px solid red; }

.form-btn {
  display: block;
  background: black;
  color: white;
  margin-bottom: 7.5px; }

.debug_dump {
  border-top: 1px solid black;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Syntax Highlighting */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/*# sourceMappingURL=ellis.css.map */
