<% if data(:audio) %>
  <div class="media">
    <audio controls>
      <source src="<%= data(:audio).url %>"
        type="<%= data(:audio).type %>">
    Your browser does not support the audio element.
    </audio>
    <% unless data(:audio).empty? %> 
      <div class="post-image-hint">
        <%= data(:caption) %>
      </div>
    <% end %>
  </div>
<% end %>
