<% if data(:video) %>
  <div class="media">
    <video class="internal-video" controls>
      <source src="<%= data(:video).url %>"
        type="<%= data(:video).type %>">
    Your browser does not support the video element.
    </video>
    <% unless data(:caption).empty? %> 
      <div class="post-image-hint">
        <%= data(:caption) %>
      </div>
    <% end %>
  </div>
<% end %>
