<div class="media">
  <iframe class="youtube"
          src="https://www.youtube-nocookie.com/embed/<%= data(:yt_id) %>"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
  </iframe>
  <% unless data(:caption).empty? %> 
    <div class="post-image-hint">
      <%= data(:caption) %>
    </div>
  <% end %>
</div>

