<%= render "main/#{@theme}/stickies", important_only: true %>
<div class="content-element post">
  <h2>Cookies</h2>
  This website sets cookies to remember layout settings and 
  regulate its visitor counter. They are not used to collect or share 
  identifiable or personal information.
  <br><br>
  <h2>Disclaimer</h2>
  The author of this site is not liable or responsible for content of linked sites.
  <br><br>
  <h2 id="privacy_policy">Privacy policy</h2>
  <ul>
    <li>All the stuff you submit via a comment is made public</li>
    <li>Remember that only the comment field is required, all other fields are optional</li>
    <li>Your IP gets stored and associated with your comment for roughly one week</li>
    <li>Beyond that its written to server logs that no one looks at anyways</li>
    <% if User.find(1).blog_spam_flag %>
      <li>To check for spam this site forwards all data sent via the comment form plus your IP address to blogspam.net</li>
    <% end %>
  </ul>
</div>
