<%= render "main/#{@theme}/stickies", important_only: true %>

<% @sections.each do |sec| %>
  <div class="content-element content-menu">
  <span class="post-title"><%= sec.name %></span>
  <ul class="projects-list">
    <% @projects[sec.id].each do |prj| %>
      <li class="list-item-project">
        <%= link_to prj.name, page_path(prj), class: 'internal-link' %>
      </li>
    <% end %>
  </ul>
  </div><br>
<% end %>
