<div class="content-element post">
  <img class="post-icon" src ="/assets/avatar.png"
    alt="avatar">
  <span class="post-title">
      <%= link admin, "/profile/index.html",
          class: "profile-link" %>
  </span>
  <span class="post-date" title="<%#= @project.created_at %>">
    <%#= time_ago_in_words(@project.created_at) %> ago
  </span>
  <%# unless @project.published %>
    <!-- <span class="mark-unpublished">(unpublished)</span> -->
  <%# end %>
  <%# if @project.content_update %>
    <!-- <span class="mark-pending-update">(update pending)</span> -->
  <%# end %>
  <div class="large-post-content">
    <h1><%= data(:title) %></h1>
    <%= include_content %>
  </div>
</div>
